
{% extends "base.html" %}



  
{% block content %} 
<h1> bienvenue sur la page d'accueil</h1>
<h2> Se connecter </h2>

<form method="post"  role="form" action="/admin/login/?next=/admin/">
{% csrf_token %}
<input type="text" name="username" placeholder="Utilisateur">
<input type="password" name="password" placeholder="Mot de passe">
<input type="submit" value="Se connecter" />
{% csrf_token %}

    {{ form.as_p }}

</form>


{% if error %}

<p><strong>Nom d'utilisateur ou mot de passe incorrect</strong></p>

{% endif %}


{% if user.is_authenticated %}

Vous êtes connecté, {{ user.id}} !

{% else %}


{% endif %}
{% endblock %}

</body>
</html>
