<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<style>
	#composition{
		width:45%;
	}
</style>
<body>



 <!-- <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav> -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
        <ul class="inlineMenu">
            <li class="menu-pre"><a href="{% url "Accueil" %}">Accueil</a></li>
            <li class="menu-eq"><a href="{% url "GestionEquipe" %}">Mon equipe  </a></li>
            <li class ="menutab"> <a href="{% url "classement" %}">Classement</a></li>

            <li class ="menu-class"><a href="#"> Resultat </a></li>
            <li class ="menucal"><a href="#"> Calendrier</a></li>
        </ul>
    </div>
  </div>
  <nav class="navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<h1><center>Gestions d'equipes M2L </center></h1>

</div>
<h2>Mes joueurs </h2>
<section id="composition">
  <br><br>

<p> <b> Formulaire </b> </p> 
<form action="{% url "classement" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

<p> <b> Classement Equipe </b> </p>
<table>

	{% for i in equipes %}

	<tr num="{{ equipe.id_equipe }}">
	    <td> {{ i.nom }} </td>
	</tr>
	    
	 {% endfor %}

</table>


<p> <b> Statistiques Joueur </b> </p> 

<table border>
	{% for j in statistiques %}	
	<tr><th> Temps de jeu </th>
		<td>{{ j.temps_jeu }}</td></tr>
	<tr><th> But </th>
		<td>{{ j.but }}</td></tr>
	<tr><th> Passe decisive </th>
		<td>{{ j.passe_decisive }}</td> </tr>
	<tr><th> Match dispute </th>
		<td>{{ j.match_dispute }}</td></tr>
	{% endfor %}	
</table>
</body>
</html>
<script type="text/javascript">
	$('#myModal').on('shown.bs.modal', function () {
		
  $('#myInput').focus()
})
	// using jQuery
/*function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}*


var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
/*$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});*/

//$.ajaxSetup({   headers: {  "X-CSRFToken": csrftoken  }  });

$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

//var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

	//$('[num="1"]').attr("color","red");
	function Supprimer(id){  // CLICK SUPPRIMER
		
    $.ajax({  // AJAX SUPPRESSION
                type: 'POST',
                url: 'ajax/supprimer/',
                data: { 'id' : id},
                dataType: 'json',
                encode: true
            }).done(function(data) {
            	alert(data.reponse)
               $('[num="'+id+'"]').remove();
              	
            });
                        };

</script>